<?xml version='1.0'?>
<launch>
    <arg name="sub_from_recognizedModelTopic" default="/detectedObjs_preliminary" 
         doc="topic about models' pose detected from camera"/>
    <arg name="camera2worldtf2" default="/tf2_kinect2_world" 
         doc="tf2 that transform from camera to world"/>
    <arg name="modelDir" default="/root/catkin_ws/src/rel_pose_ext/models" 
         doc="absolute path that stores all stp models in mm unit"/>
    <arg name="pub_to_alignedModelTopic" default="/detectedObjs_preliminary" 
         doc="after alignment, publish improved pose to this topic"/>

    <node name="aligned_model_publisher" pkg="rel_pose_ext" type="node_alignedModelPublisher.py" output="screen" respawn="false"
          args="$(arg sub_from_recognizedModelTopic) 
                $(arg camera2worldtf2) 
                $(arg modelDir) 
                $(arg pub_to_alignedModelTopic)">
    </node>

</launch>